<div class="contactsBLock">

    <div class="itemContact left">
        <div class="contactIco left fullWidth">
            <div class="tableDiv">
                <div class="tableCell">
                    <img src="img/contact1.png" alt="" title="">
                </div>
            </div>
        </div>
        <div class="contactText left fullWidth" style="padding: 0 60px;">
            <strong>Address</strong>
            <p>{{ options.address }}</p>
        </div>
    </div>
    <div class="itemContact left">
        <div class="contactIco left fullWidth">
            <div class="tableDiv">
                <div class="tableCell">
                    <img src="img/contact2.png" alt="" title="">
                </div>
            </div>
        </div>
        <div class="contactText left fullWidth">
            <strong>Phone</strong>
            <p>{{ options.phone }}</p>
        </div>
    </div>
    <div class="itemContact left">
        <div class="contactIco left fullWidth">
            <div class="tableDiv">
                <div class="tableCell">
                    <img src="img/contact3.png" alt="" title="">
                </div>
            </div>
        </div>
        <div class="contactText left fullWidth">
            <strong>Email</strong>
            <p><a href="mailto:{{ options.email }}">{{ options.email }}</a></p>
        </div>
    </div>
</div>
